.formula-editor {
  width: 1065px;
  margin: 0 auto;
}

.formula-input {
  width: 300px;
  margin: 2em 0 2em 10px;
  padding: 0.5em;
  border: none;
  box-shadow: 0 0 0.1em 0.05em rgba(0,0,0,0.3);
  box-sizing: border-box;
}