html, body {
  margin: 0;
  padding: 0;
}

.root {
  font-family: arial;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;

  td, th {
    box-sizing: border-box;
  }

  th {
    font-weight: normal;
    font-size: 12px;
    padding: 10px;
  }
}